body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  margin-bottom: 20px;
}

.navigation-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.footer-content {
  text-align: center;
}

.footer-sentence {
  color: grey;
  margin-bottom: 0;
}

.footer-author {
  color: purple;
  text-decoration: underline;
}

.footer-link {
  margin-top: 0;
}

.footer-link a {
  color: purple;
}
