body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-bar {
  height: 80px;
  margin-bottom: 20px;
}

.navigation-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
}

main {
  display: flex;
  justify-content: space-around;
  height: 800px;
}

.about-archives {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.about {
  background-color: #f0f0f0;
  padding: 10px;
}

.about-title {
  font-style: italic;
}

.archive-title {
  font-style: italic;
}

.archive-link {
  color: purple;
}

.section-article {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.article-area {
  width: 48%;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}

.article-area:nth-child(2) {
  order: 1;
}

.article-thumbnail {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #606060;
  color: white;
}

.article-content {
  padding: 15px;
  height: auto;
}

.article-details-link {
  color: #4169e1;
}

.signin {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-form {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.signin-email,
.signin-password {
  height: 40px;
  width: 90%;
}

.signin-password {
  margin-bottom: 10px;
}

.signin-checkbox {
  margin-bottom: 20px;
}

.signin-button {
  width: 90%;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.footer-content {
  text-align: center;
  margin-bottom: 16px;
}

.footer-sentence {
  color: grey;
  margin-bottom: 0;
}

.footer-author {
  color: purple;
  text-decoration: underline;
}

.footer-link {
  margin-top: 0;
  color: purple;
}
